<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="column">
        <label for="nb">Entrez votre nombre : </label>
        <input name="nb" type="text" placeholder="Chiffre" [(ngModel)]="nb">
        <br> <br>
        <label for="nb">Entrez le nombre de table : </label>
        <input name="nbTableau" type="text" placeholder="Chiffre" [(ngModel)]="nbTableau">
        <br><br>
        <button (click)="submits()">Valider</button>
      </div>
    </div>
  </section>
  <div *ngIf="number(); then submit"></div>
  <ng-template #submit>
    <table>
      <h2>Mission 1</h2>
      <app-table-multiplication [number]="nb"></app-table-multiplication>
    </table>
    <h2>Mission 2</h2>
    <app-tables-multiplication [nbTab]="nbTableau"></app-tables-multiplication>
  </ng-template>

</body>

</html>